*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #A06E36;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 16px;
  padding-top: 20px;
  font-size: 70%;
  color: white;
  font-weight: lighter;
}

.card {
  background-color: white;
  border-radius: 6px;
  font-size: 24px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}


.card-body {
  min-height: 200px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
}


.btn {
  border: none;
  background-color: black;
  border-radius: 6px;
  box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 45%);
  color: white;
  display: inline-block;
  font-size: 22px;
  margin: 20px 16px 16px 20px;
  padding: 16px 40px;
  text-align: center;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>💩</text></svg>") 16 0, auto;
  /*!emojicursor.app*/
  ;
}

button[disabled] {
  background: #c0c7cf;
}


#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  display: block;
  width: 100%;
  height: auto;
  padding-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 60px;
  margin-bottom: 1em;
  font-size: 2em;
  text-align: center;
}

@media (max-width: 500px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
    width: 100%;
  }

  #password {
    font-size: 1.2em;
    margin-bottom: 2em;
  }
}